.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1040px;
  padding: 0 16px;
  margin: 0 auto;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .header {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 992px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header-logo {
  line-height: 1;
}

.header-logo img {
  width: auto;
  height: 122px;
}

.header-btn {
  z-index: 500;
  display: block;
  width: 32px;
  height: 20px;
  padding-right: 5px;
  background: none;
}

.header-btn span {
  position: relative;
  display: block;
  height: 2px;
  background: #333;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-btn span::before,
.header-btn span::after {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  content: '';
  background: #333;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-btn span::before {
  top: -10px;
}

.header-btn span::after {
  bottom: -10px;
}

@media screen and (min-width: 768px) {
  .header-btn {
    display: none;
  }
}

.header-gnav {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  margin-top: 122px;
  background-color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media screen and (min-width: 768px) {
  .header-gnav {
    position: static;
    width: auto;
    height: auto;
    margin-top: 0;
  }
}

.header-gnav-list {
  list-style-type: none;
  border-top: 1px solid #efefef;
}

.header-gnav-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 24px;
  font-size: 18px;
  font-weight: bold;
  color: #094067;
  text-decoration: none;
  border-bottom: 1px solid #efefef;
}

.header-gnav-list a span {
  margin-right: 8px;
  font-size: 22px;
  color: #459209;
}

.header-gnav-list a span.header-gnav-access {
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .header-gnav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
  }
  .header-gnav-list a {
    padding: 5px;
    margin-left: 16px;
    border: none;
  }
}

.is-openMenu .header-btn span {
  background: transparent;
}

.is-openMenu .header-btn span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.is-openMenu .header-btn span::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.is-openMenu .header-gnav {
  right: 0;
}

.main-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 65vh;
  background-color: #3da9fc;
  background-blend-mode: multiply;
}

.main-image.top {
  background: url("../img/header/main.jpg") no-repeat center center/cover;
}

.main-image.service {
  background: url("../img/header/service-main-min.jpg") no-repeat center center/cover;
  background-color: #9f9f9f;
  background-blend-mode: multiply;
}

.main-image.achivements {
  background: url("../img/header/achivements-main-min.jpg") no-repeat center center/cover;
  background-color: #9f9f9f;
  background-blend-mode: multiply;
}

.main-image.blogs {
  background: url("../img/header/blogs-main-min.jpg") no-repeat center center/cover;
  background-color: #9f9f9f;
  background-blend-mode: multiply;
}

.main-image.company {
  background: url("../img/header/company-main-min.jpg") no-repeat center center/cover;
  background-color: #9f9f9f;
  background-blend-mode: multiply;
}

.main-image.contact {
  background: url("../img/header/contact-main-min.jpg") no-repeat center center/cover;
  background-color: #9f9f9f;
  background-blend-mode: multiply;
}

@media screen and (min-width: 768px) {
  .main-image {
    height: 65vh;
  }
}

.main-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 122px 24px 0;
  font-size: 1.2rem;
  line-height: 1.75;
  color: #fff;
  text-align: center;
  text-shadow: 1px 2px 3px #222;
  letter-spacing: 2px;
}

@media screen and (min-width: 768px) {
  .main-description {
    padding-top: 0;
    font-size: 2.75rem;
  }
}
/*# sourceMappingURL=header.css.map */